
html,body {scrollbar-face-color:#ffffff;scrollbar-highlight-color:#ffffff;scrollbar-darkshadow-color:#ffffff;padding:0;}

img {max-width:auto;} h1 {font-size:30px;} h1, h2, h3, h4, h5, h6 {margin:0;} a {outline: none;} a:active {star:expression(this.onFocus=this.blur());}

/*默认字体设置*/
body,label,input,button,select,textarea,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.uneditable-input,.navbar-search .search-query,.ztree *{
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	color: #676a6c;
}
body,label,input,button,select,textarea,.uneditable-input,.navbar-search .search-query{font-size:13px;_font-size:12px;}

.input-append .add-on,.input-prepend .add-on,.input-append .btn,.input-prepend .btn,.input-append .btn-group > .dropdown-toggle,.input-prepend .btn-group > .dropdown-toggle {vertical-align: middle;}
label {display:inline-block;margin-bottom:0;} input[type="radio"],input[type="checkbox"] {margin:-2px 3px;*margin-top:1px;}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly] {cursor:auto;background-color:#f3f3f3;}
.input-prepend input,.input-append input,.input-prepend select,.input-append select,.input-prepend .uneditable-input,.input-append .uneditable-input {position:static;}
legend {margin:10px 0;*left:-7px;*position:relative;color:#0088CC;*width:99.5%}

.collapse {*display:none;_position:static;} .collapse.in {*display:block;}
.close {opacity:0.3;filter:alpha(opacity=30);} .close:hover {opacity:0.8;filter:alpha(opacity=80);}

a.btn, button.btn {*padding:4px 10px 4px;*border:1px solid #cccccc;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e6e6e6', GradientType=0); margin-left:3px}
a.btn-primary,a.btn-primary:hover,a.btn-warning,a.btn-warning:hover,a.btn-danger,a.btn-danger:hover,a.btn-success,a.btn-success:hover,
	a.btn-info,a.btn-info:hover,a.btn-inverse,a.btn-inverse:hover {*padding:4px 10px 3px;}
button.btn{*padding:3px 10px 2px;*background-color:transparent;}
.btn-group a.btn,.btn-group button.btn,.btn-group button.btn:hover {position:static;}
.btn-group a.btn + a.btn,.btn-group button.btn + button.btn {margin-left:-2px;}
/*
input.btn {filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);*color:#555555}
input.btn:hover {*color:#333333}
*/
.nav, .breadcrumb {margin-bottom:8px;}
.nav-list li a {margin-top:5px;margin-bottom:5px;_padding-top:6px;} .nav-list li a i{_margin-top:-1px;}

.table {margin-bottom:8px;background-color:#fdfdfd;}
.table th, .table td {vertical-align:middle;}
.table td i{margin:0 2px;}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{background-color:#F5F5F5}

.sort-column{color:#0663A2;cursor:pointer;}

.supcan {border:1px #d3d3d3 solid;height:300px;}

.control-group {padding-bottom:8px;margin-bottom:0;border-bottom:1px dotted #dddddd;} legend + .control-group {margin-top:8px;}
.controls .lbl {display:inline-block;padding-top:5px;margin-bottom:0;vertical-align:middle;}
.measure-input {background:url("../images/ruler.gif") repeat-x scroll 0 bottom transparent;}
.input-min{width:30px;} .input-mini{width:90px;} .input-small{width:120px;} .input-medium {width:163px;}.input-xxlarge {width:460px;}
.help-block,.help-inline {color:#aaaaaa;} .alert {margin-bottom:10px;}

.form-search label{margin-left:10px;}
.form-search span label{margin-left:0;}
.form-search .ul-form {margin:0;overflow:hidden;}
.form-search .ul-form li{float:left;list-style:none;height:35px;line-height:35px;}
.form-search .ul-form li label{width:80px;text-align:right;}
.form-search .ul-form li span label{width:auto;}
.form-search .ul-form li.clearfix{float:none;}
.form-search .ul-form li.btns{padding-left:10px;}
.form-search .ul-form li.btns .btn{margin-right:5px;}

.form-horizontal {margin:0 10px;} .form-horizontal .control-group {margin-bottom:8px;}
.form-horizontal .control-label {padding-top:3px;} .form-horizontal .controls {text-align:left;overflow-x:auto;overflow-y:hidden;}
.form-horizontal .controls label.error {background-position:0 2px;}

.form-horizontal .table-form{width:100%;border-color:#dddddd;}
.form-horizontal .table-form, .form-horizontal .table-form td{border:1px solid #ddd;background-color:#fdfdfd;padding:4px;} 
.form-horizontal .table-form td.tit{background:#fafafa;text-align:center;padding-right:8px;white-space:nowrap;}
.form-horizontal .form-actions{margin-bottom:0;}

.form-horizontal fieldset .row-fluid {margin-bottom:10px;}

/* .pagination {margin:8px 0;} .pagination .controls a{border:0;}
.pagination .controls input{border:0;color:#999;width:30px;padding:0;margin:-3px 0 0 0;text-align:center;}
 */
.modal-backdrop {background-color:#ffffff;}
.modal-backdrop,.modal-backdrop.fade.in {opacity:0.5;filter:alpha(opacity=50);}
.modal.tree {width:300px;margin:-250px 0 0 -180px;*margin:-200px 0 0 -150px;}
.modal.tree .modal-body {height:260px;padding:20px 25px;}

.accordion-heading,.table th {white-space:nowrap;background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top,#ffffff,#f5f5f5);background-image:-ms-linear-gradient(top,#ffffff,#f5f5f5);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#FAFAF9), to(#f5f5f5));background-image:-webkit-linear-gradient(top,#ffffff,#f5f5f5);
	background-image:-o-linear-gradient(top,#ffffff,#f5f5f5);background-image:linear-gradient(top,#ffffff,#f5f5f5);
	background-repeat:repeat-x;}
.accordion-heading {filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fefefe', endColorstr='#f5f5f5', GradientType=0);
	float:inherit;width:100%;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.accordion-heading a:hover,.dropdown a:hover {text-decoration:none;background:none;}
.accordion-heading .accordion-toggle {font-family:黑体;font-size:14px;_padding-top:10px;_padding-bottom:8px;}
.accordion-heading .accordion-toggle i {_margin-top:-1px;}
.accordion-inner {padding:3px 8px 3px 8px;}
.accordion-inner .nav-list {margin-bottom:4px;}
.accordion-inner .nav-list li a {padding:3px 0px 3px 8px;}

#left,#right,#openClose {float:left;} #openClose {width:6px;margin:0 1px;cursor:pointer;}
#openClose,#openClose.close {background:#efefef url("../images/openclose.png") no-repeat -29px center;}
#openClose.close {background-position:1px center;opacity:0.5;filter:alpha(opacity=50)}

.panel-body{
	padding: 5px;
}

/*
2017-02-27 bitter 功能按钮样式
 */
.list-title{display:block; height:35px; line-height:35px; padding:0px;}
.list-title > span{position:absolute; margin: 12px;}
/* .list-title > div{position:absolute; margin: 0px; right:10px;} */
.list-title > div{position: relative;padding: 0px 5px;float: right;margin-right: 10px;}

.list-query{}
.list-query > table{border-collapse:separate; border-spacing:0px 5px; width: 90%;}
.list-title .btn.btn-box-tool{padding: 0px 2px;font-size: 12px;color: #97a0b3;}
/* validator error color is red*/
.error{color:red;}
/*
 * ztree dict group diy icon
*/
.ztree li span.button.group1_ico_docu{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}
.ztree li span.button.group1_ico_open{margin-right:2px; background-position:-110px -16px; vertical-align:top; *vertical-align:middle}
.ztree li span.button.group1_ico_close{margin-right:2px; background-position:-110px 0; vertical-align:top; *vertical-align:middle}

.main-footer{border-top-style:none;}

/**
 * 查询条件 panel 折叠 icon
 */
.panel-default>.panel-heading a[aria-expanded="true"]:after {content: "\f0d7";}
.panel-default>.panel-heading a[aria-expanded="false"]:after {content: "\f0d8";}
/* 超长文字单元格省略号显示 */
.ellipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;}
/* select2 css */
.select2-container--bootstrap .select2-selection--single {height: 30px;line-height: 1.42857143;padding: 5px 20px 5px 10px;}
.select2-container--bootstrap .select2-selection--multiple {height: 30px;padding: 0;}


/**
 * 弹出选择按钮样式修改
 */
.btn-bg, .btn-bg:hover  { color: #555;background-color: #f9f9f9; border-color: #ccc;}
/*.table-form .input-sm { background: #fff;}
.list-title .btn-default,.list-title .btn-default:hover {
	color: #fff;
	background-color: #66c746;
	border-color: #66c746;

}
.list-title .btn-info,.list-title .btn-info:hover{
	color: #fff;
	background-color: #3c95ff;
	border-color: #3c95ff;
}*/
.btn-group-xs>.btn, .btn-xs {padding: 3px 12px;border: none;margin-bottom: 3px;}

.Wdate {
	border: 1px;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.WdateDiv .dpButton{ background-color: #1f81e4;}
